<h1>Chi tiết nhà</h1>
<a routerLink="/">Danh sách nhà</a>
<br><br>
<table>
  <tr>
    <th>Stt</th>
    <th>Tên nhà</th>
    <th>Số phòng ngủ</th>
    <th>Số phòng tắm</th>
    <th>Mô tả</th>
    <th>Ảnh phòng</th>
    <th>Chủ nhà</th>
  </tr>
    <td>{{house.name}}</td>
    <td>{{house.numberOfBedroom}}</td>
    <td>{{house.numberOfBathroom}}</td>
    <td>{{house.description}}</td>
    <td><img src="http://localhost:8080/image/{{house.image}}" width="100" alt=""></td>
    <td>{{house.host.name}}</td>
</table>
