<app-nav-bar-host></app-nav-bar-host>
<section class="blog-section latest-blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Chi tiết homestay của bạn</h2>
        </div>
      </div>
    </div>
    <div style="text-align: left">
      <div class="card-tools">
        <a routerLink="/houses">
          <button class="btn btn-secondary" style="width: 150px; height: 50px">Danh sách nhà</button>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7" style="margin-top: 20px">
        <div class="single-blog-item" style="background: ghostwhite">
          <div class="sb-pic">
            <img src="http://localhost:8080/image/{{house.image}}" height="300">
          </div>
        </div>
      </div>
      <div class="col-lg-5" style="margin-top: 20px">
        <div class="sb-text" style="text-align: left">
          <h4>Tên nhà: {{house.name}}</h4>
        </div>
        <div style="text-align: left">
          <h4>Giá: {{house.price}} USD<span>/ngày</span></h4>
        </div>
        <div style="text-align: left">
          <h4>Địa chỉ: {{house.address}}</h4>
        </div>
        <div style="text-align: left">
          <h4>Mô tả: {{house.description}}</h4>
        </div>
        <div style="text-align: left">
          <h4>Loại phòng: {{house.room_category.name}}</h4>
        </div>
        <div style="text-align: left">
          <h4>Số phòng ngủ: {{house.numberOfBedroom}}</h4>
        </div>
        <div style="text-align: left">
          <h4>Số phòng tắm: {{house.numberOfBathroom}}</h4>
        </div>
        <div style="text-align: left">
          <h4>Trạng thái: {{house.status.name}}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
