<app-user></app-user>
<div class="container">
  <div class="main-body">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html" style="color: #00A7AA">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" style="color: #00A7AA">{{currentUser.username}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
      </ol>
    </nav>

    <form [formGroup]="changePassForm" (ngSubmit)="changePasswordHost()">
      <div class="row gutters-sm">
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Mật khẩu cũ</h6>
                </div>
                <input class="form-control" id="oldPassword" placeholder="Nhập mật khẩu" type="password"
                       formControlName="oldPassword">
              </div>
              <div *ngIf="message!=null"><p
                style="color: red">{{message}}</p>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Mật khẩu mới</h6>
                </div>
                <input class="form-control" id="newPassword" placeholder="Nhập mật khẩu mới" type="password"
                       formControlName="newPassword">
                <div
                  *ngIf="changePassForm.get('newPassword').value===changePassForm.get('oldPassword').value&&changePassForm.get('newPassword').touched">
                  <p
                    style="color: red">Mật khẩu mới không được trùng lặp với mật khẩu hiện tại!</p>
                </div>
                <div *ngIf="changePassForm.get('newPassword').invalid&&changePassForm.get('newPassword').touched">
                  <p style="color: red">Mật khẩu mới phải từ 6-8 ký tự </p>
                </div>

              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Nhập lại mật khẩu mới</h6>
                </div>
                <input class="form-control" id="confirmPassword" placeholder="Nhập lại mật khẩu mới" type="password"
                       formControlName="confirmPassword">
              </div>
              <div
                *ngIf="changePassForm.get('newPassword').value!==changePassForm.get('confirmPassword').value&&changePassForm.get('confirmPassword').touched">
                <p
                  style="color: red">Xác nhận mật khẩu không khớp!</p>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-info" type="submit">
                    Đổi mật khẩu
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


