<div class="container">
  <div class="main-body">
    <form [formGroup]="houseForm" (ngSubmit)="updateHouseStatus(id)" class="mb-3">
      <div class="row gutters-sm" style="margin-top: 100px">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background: snow">
          <h3 style="text-align: center"><b>Chỉnh sửa trạng thái nhà</b></h3>
  <br>
  <div>
    <label for="status" class="form-control">Trạng thái:</label>
    <select id="status" formControlName="status" class="form-control">
      <option [ngValue]="null">Chọn trạng thái</option>
      <ng-container *ngFor="let status of statuses">
        <option [value]="status.id">{{status.name}}</option>
      </ng-container>
    </select>
  </div>
  <br>
  <div class="modal-footer justify-content-between">
    <button class="btn btn-secondary" data-dismiss="modal" routerLink="/houses">Quay lại</button>
    <button class="btn btn-info" type="submit">Sửa trạng thái</button>
  </div>
        </div>
      </div>
</form>
  </div>
</div>
