<h1>Sửa nhà</h1>
<a routerLink="/houses">Danh sách nhà</a>
<br>
<br>
<form [formGroup]="houseForm" (ngSubmit)="updateHouse(id)">
  <input type="hidden"[routerLink]="" id="id" formControlName="id">
  <div>
    <label for="name">Tên nhà</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <br>
  <div>
    <label for="room_category">Loại phòng</label>
    <select id="room_category" formControlName="room_category">
      <option [ngValue]="null" >Chọn loại phòng</option>
      <ng-container *ngFor="let room of rooms">
        <option [value]="room.id">{{room.name}}</option>
      </ng-container>
    </select>
  </div>
  <br>
  <div>
    <label for="address">Địa chỉ</label>
    <input type="text" id="address" formControlName="address">
  </div>
  <br>
  <br>
  <div>
    <label for="numberOfBedroom">Số phòng ngủ</label>
    <select id="numberOfBedroom" formControlName="numberOfBedroom">
      <option [ngValue]="null" >Chọn số phòng ngủ</option>
      <option [ngValue]="1">1</option>
      <option [ngValue]="2">2</option>
      <option [ngValue]="3">3</option>
      <option [ngValue]="4">4</option>
      <option [ngValue]="5">5</option>
    </select>
  </div>
  <br>
  <div>
    <label for="numberOfBathroom">Số phòng tắm</label>
    <select id="numberOfBathroom" formControlName="numberOfBathroom">
      <option [ngValue]="null" >Chọn số phòng tắm</option>
      <option [ngValue]="1">1</option>
      <option [ngValue]="2">2</option>
      <option [ngValue]="3">3</option>
    </select>
  </div>
  <br>
  <div>
    <label for="description">Mô tả</label>
    <input type="text" id="description" formControlName="description">
  </div>
  <br>
  <div>
    <label for="price">Giá nhà</label>
    <input type="text" id="price" formControlName="price">
  </div>
  <br>
  <div>
    <label for="image">Ảnh</label>
    <input type="file" id="image" (change)="onFileSelected($event)">
  </div>
  <br>
  <div>
    <button>Sửa nhà</button>
  </div>
</form>

